* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#container {
  display: flex;
  gap: 1rem;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
}

#container .drawer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  width: 90vh;
  height: 90vh;
}

#container .wrapper {
  border: 1px solid #ccc;
  display: flex;
  flex-direction: row;
  align-items: center;
  flex-wrap: wrap;
  position: relative;
}

#container .wrapper div {
  width: 10px;
  height: 10px;
}

#container .options {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}

#container .options button {
  width: 100px;
  padding: 1rem;
}